{% extends 'base/app.twig' %}

{% block content %}
    <div class="py-12 mb-8 bg-primary" style="background-image: url('{{ post.thumbnail.src }}')">
        <div class="container mx-auto">
            <h1 class="text-white text-3xl">
                {{ post.title }}
            </h1>
        </div>
    </div>
    <div class="container content mx-auto">
        {{ post.content|wpautop }}
    </div>

    <div class="container mx-auto">
        <div class="products">
            {% for product in products %}
                <product-card :product-id="{{ product }}"></product-card>
            {% endfor %}
        </div>
    </div>
{% endblock %}
