{% extends 'base/app.twig' %}

{% block content %}
    {% include 'views/partials/front-page/header.twig' %}
    <section class="container mx-auto">
        <div class="flex my-4" id="row_top_{{ post.ID }}">
            <card-component
                    tag="a"
                    link="https://kiyoh.nl/"
                    inner-button="true"
                    class="lg:w-1/5"
            >
                <span class="text-xl text-primary text-center font-bold">
                    Bekijk alle aanbiedingen.
                </span>
            </card-component>
        </div>
    </section>

    <section class="bg-grey">
        <div class="container mx-auto">
            <aside>
                FOTOOT
            </aside>
            <section class="flex">
                <card-component tag="a">
                    <span class="text-xl text-primary text-center font-bold">
                        Ontdek al onze meest populaire wijnen
                    </span>
                </card-component>
            </section>
        </div>
    </section>
{% endblock %}
