<section class="bg-grey lg:py-4">
    <div class="container mx-auto lg:flex">
        <section class="lg:mr-2 lg:w-1/2 lg:flex flex-col">
            <div class="quatro-stagioni">
                {% for post in posts %}
                    <product-card direction="vertical" class="" :product-id="{{ post.ID }}"></product-card>
                {% endfor %}
            </div>
            <card-component tag="a" class="mt-auto block w-full text-center py-2" :height="false">
                    <span class="text-xl text-primary text-center font-bold">
                        {{ title?? "Bekijk meer" }}
                    </span>
            </card-component>
        </section>
        <aside class="lg:w-1/2">
            <shaded-image
                    image="https://localhost:32802/wp-content/uploads/2019/06/adult-bar-blur-696218-1-1024x683.jpg"
                    link="{{ link }}"
                    title="{{ title?? 'Bekijk meer' }}"></shaded-image>
        </aside>
    </div>
</section>
