<section class="container mx-auto">
    <div class="flex justify-between my-4" id="row_top_{{ post.ID }}">
        {% if post.kiyoh is same as("1") %}
            <kiyoh-card class="lg:w-1/5"></kiyoh-card>
        {% else %}
            <product-card :product-id="269"></product-card>
        {% endif %}

        <product-card class="lg:w-1/5" :product-id="267"></product-card>
        <product-card class="lg:w-1/5" :product-id="267" label="Aanbieding"></product-card>
        <product-card class="lg:w-1/5" :product-id="267"></product-card>

        <card-component
                tag="a"
                link="https://kiyoh.nl/"
                inner-button="true"
                class="lg:w-1/6"
        >
                <span class="text-xl text-primary text-center font-bold">
                    Bekijk alle aanbiedingen.
                </span>
        </card-component>
    </div>
</section>
