@import "tailwindcss/base";
@import "tailwindcss/components";



@import "./custom/header.pcss";
@import "./custom/footer.pcss";
@import "./custom/pages.pcss";
@import "./custom/frontpage.pcss";
@import "./custom/store.pcss";

@import "tailwindcss/utilities";

html {
    @apply font-web;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
