@screen lg {
    .homepage-header {
        width: 100vw;
        color: theme('colors.white');
        padding: 20vh;
        background-size: cover;

        & .title {
            font-size: theme('fontSize.5xl');
            font-weight: bold;
            line-height: 1;
        }

        & .subtitle {
            font-size: theme('fontSize.3xl');
            margin-bottom: 1.25rem;
            font-weight: lighter;
        }
    }
}
