.homepage-header {
  width: 100vw;
  color: $white;
  padding: 2rem;

  & .title {
    font-size: map-get($fontSize, 3xl);
    font-weight: bold;
    line-height: 1;
  }

  & .subtitle {
    font-size: map-get($fontSize, xl);
    margin-bottom: 1.25rem;
    font-weight: lighter;
  }
  & .usp-banner {
    & span {
      display: block;
    }
  }
}

@media screen and (min-width: map-get($screenSize, lg)) {
  .homepage-header {
    width: 100vw;
    color: $white;
    padding: 15vh;
    background-size: cover;
    position: relative;

    & .title {
      font-size: map-get($fontSize, 5xl);
      font-weight: bold;
      line-height: 1;
    }

    & .subtitle {
      font-size: map-get($fontSize, 3xl);
      margin-bottom: 1.25rem;
      font-weight: lighter;
    }

    & .usp-banner {
      position: absolute;
      width: 100%;
      top: calc(100% - 60px);
      left: 0;
      height: 60px;
      background: adjust-color($primary, $alpha: percentage(70));
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
    }
  }

  .quatro-stagioni {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 90%;

    & > .itww-card {
      max-height: 50%;
      min-height: unset;
    }
  }
}
