{% include 'base/helpers/partials/header-banner.twig' %}
<nav
    class="header container mx-auto"
    role="navigation"
    aria-roledescription="Navigeer door de site"
>

    {% include 'partials/logo-default.twig' %}
    {% include 'base/helpers/partials/header-menu.twig' %}

    <search-component></search-component>
</nav>
